[Desktop Entry]
Encoding=UTF-8
Name=Restore Gui
Name[ca]=Restore Gui
Name[de]=Restore Gui
Name[el]=Restore Gui
Name[es]=Restore Gui
Name[fr]=Restore Gui
Name[it]=Restore Gui
Name[ja]=Restore Gui
Name[nl]=Restore Gui
Name[sv]=Restore Gui
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=restore-gui %f
Terminal=false
Type=Application
Icon=restore-gui
Categories=GNOME;GTK;System;
NoDisplay=false
