Source: restore-gui
Section: admin
Priority: optional
Maintainer: Adrian <adrian@mxlinux.org>
Build-Depends: debhelper-compat (=12), cmake (>= 3.16), ninja-build, qt6-base-dev, qt6-base-dev-tools, qt6-tools-dev, qt6-tools-dev-tools
Standards-Version: 3.9.8
Vcs-Git: git://github.com/AdrianTM/restore-gui

Package: restore-gui
Architecture: any
Depends: xdg-utils | mx-viewer,
         git,
         polkitd | policykit-1,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Git-based checkpoint and restore utility
 A GUI application that leverages Git to create and restore checkpoints
 within a directory. This tool allows users to easily track changes,
 create snapshots, and roll back to previous states of their files
 without requiring Git knowledge.
